.journalist
	&__sidebar
		li 
			list-style-type none
			margin 1rem 0
			
			&:last-child
				margin 0
		
		p
			margin 0 0 1rem 0
			font-size .75rem
		
	&__hed
		font-family $benton
		font-size 1.6rem
		margin 0 0 1rem 0
	
	&__picks
		background $offblack
		color $offwhite
		padding 20px
	
	p.journalist__social {
		margin 1rem 0
	}