//=======================
// Custom styles
//=======================

// To use images in assets folder:
// ex: background-image url($assets-path + 'filename.jpg')

// See `base` folder for variables (color, font, media queries)
b 
	font-weight bold
	
.g-footer--credits
	font-family $sans
	font-size: .8rem
	
section 
	padding 0 15px
	
#content
	padding 0