.player
	&__hed
		font-family $benton
		margin 0 0 2rem 0
		text-align center
		
	&__jump 
		border-top 1px solid $gray-light
	&__bio
		font-size 0.85em
		margin-top .2rem
		&__container
			flex-basis auto
			flex-grow 1
	
	&__img
		&--container
			display none
			
	&__profile
		padding 0 15px
		
	&__title
		font-family $benton
	
	&__with-votes 
		padding-top 50px

	&__votes 
		border-radius 10px
		display inline-block
		height 20px
		width: 51px
		font-size 0.6rem
		font($sans, 600)
		line-height 20px
		margin-left 6px
		position relative
		top -2px 
		text-align: center
		text-transform uppercase
		
		&-1
			background $vote-1
		&-2
			background $vote-2
		&-3
			background $vote-3
		&-4
			background $vote-4
		&-5
			background $vote-5
		
.all-players 
	padding-top 65px

@media screen and (min-width: 481px)
	.player
		&__grid
			flex-grid(2, 'player__profile')	
				
@media screen and (min-width: 990px)
	.player
		&__grid
			flex-grid(3, 'player__profile')
			
		&__img
			&--container
				display block
				padding-right 10px
				min-width 80px
				flex-grow 0
				flex-basis 1
			
	.all-players
		.player
			&__profile
				display flex