.player
	&__bio
		font-size 0.85em
		margin-top .2rem
		
	&__grid
		flex-grid(3, 'player__profile')
		
	&__profile
		padding 0 15px
		
	&__title
		font-family $benton
	
	&__votes 
		border-radius 10px
		background $teal
		display inline-block
		height 20px
		width: 51px
		font-size 0.6rem
		font($sans, 600)
		line-height 20px
		margin-left 6px
		position relative
		top -2px 
		text-align: center
		text-transform uppercase