<h2 class="journalist__hed">I still can’t vote for cheaters</h2>

<p>It’s a big mess, this Hall of Fame voting – a mess created by the players who used performance enhancers, the union and owners who failed to stop them, the media whose weak oversight enabled them, and the public’s general indifference to their decades-long assault on the game’s integrity.</p>

<p>Who juiced and who didn’t? We will never know the full truth. As candidates reach the Hall of Fame ballot, justice is dispensed voter by voter, personal standard by personal standard, in some cases whim by twisted whim in this era of suspicion.</p>

<p>As the Globe’s Red Sox beat writer from 2000 through the 2004 World Series, I suspected many players – members of the Sox and other teams – of cheating with performance enhancers. A rare few were caught.
In the 12 years since, my role in the Globe’s baseball coverage has included writing dozens of stories about players and steroids. The takeaway: it’s a big mess.</p>

<p>Who’s guilty? Who’s not? Whom to penalize? Whom to absolve?</p>

<p>And, should it even matter? In my view, it should, especially for the countless players who competed clean while others fraudulently gained a competitive edge by doping.</p>

<p>That’s why I continue to penalize Barry Bonds, the all-time home run leader, and Roger Clemens, the sport’s only seven-time Cy Young Award winner, because the evidence indicates they cheated.
The same goes for sluggers Sammy Sosa (609 career home runs), Mark McGwire (583), and Rafael Palmeiro (569).</p>

<p>Now comes Manny Ramirez (555), who ranks among the best hitters the sport has seen. Without Ramirez, the Sox would not have won the historic 2004 World Series. Three years later, he propelled them toward another title. He was a giant in the game, but he also was a serial cheater.</p>

<p>I won’t check the box next to Ramirez’s name this year. Nor will I vote for his fellow first-time candidate, Ivan (Pudge) Rodriguez. In my mind, Rodriguez, like Ramirez, would be a first-ballot Hall of Famer if not for the ill wind of steroid suspicions buffeting him.</p>

<p>In 2005, Rodriguez’s former teammate, Jose Canseco, wrote a book called “Juiced,” in which he claimed to have injected the catcher many times with steroids, until Rodriguez became familiar enough with the procedure to inject himself. Canseco, himself an unabashed steroid abuser, may be a flawed character, but many of the allegations in his book were corroborated in Major League Baseball’s 2007 Mitchell Report.
Cheaters should not be first-ballot Hall of Famers. One day, if Bonds, Clemens, Ramirez, and Rodriguez have not already been elected, I may decide to vote for them -- they have 10 years of eligibility -- on the grounds that they were penalized for their alleged frauds but were Hall of Fame talents.</p>

<p>After all, I already have helped elect at least one Hall of Famer who used a performance enhancer. In 1999, Mike Piazza publicly acknowledged briefly ingesting the steroid hormone androstenedione early in his career when it was available over the counter and not yet banned by Major League Baseball.</p>

<p>I was among the 83 percent of Hall voters last year who gave the best hitting catcher in history a pass, lifting him above the 75-percent requirement for induction, in his fourth year of eligibility. Rodriguez was a far better all-around catcher than Piazza and will likely reach Cooperstown faster than Piazza did.</p>

<p>This year, I’m giving Boston-born Jeff Bagwell a pass, knowing that he too admitted dabbling in andro when it was legal in the mid-’90s. Bagwell stands on the Hall’s threshold this year after receiving 71.6 percent of last year’s vote. This is his seventh year of eligibility.</p>

<p>What about Vladimir Guerrero, a first-time candidate? He hit the same number of home runs (449) as Bagwell. His overall career numbers and credentials are very similar to Bagwell’s, and he has never been accused of steroid use. In my view, Guerrero belongs in Cooperstown, but, like Bagwell, not in his first-year of eligibility.</p>

<p>Former Padres closer Trevor Hoffman received 67.3 percent of the vote last winter in his first year on the ballot. I passed on him because I didn’t consider him a first-ballot Hall of Famer, but I believe the strength of his record – he ranks second only to Mariano Rivera in career saves (601) – warrants a vote this year.</p>

<p>Other first-timers on the ballot are Boston favorites Tim Wakefield and Jason Varitek, who are enshrined in the Sox Hall of Fame, but are not Cooperstown-caliber.</p>

<p>In addition to Bagwell and Hoffman, that leaves me voting for candidates I have previously supported: Tim Raines, Mike Mussina, Edgar Martinez, and, yes, Curt Schilling, who giddily retweeted a T-shirt slogan advocating the lynching of journalists, presumably baseball writers included.</p>

<p>It’s all a big mess.</p>