<div class="comments">
	<a class="comments__link" href="http://www.bostonglobe.com/sports/2017/01/05/discuss-how-globe-voted-for-baseball-hall-fame/0MKQFIzEZqBj1TTYjElcgP/story.html#comments" target="_blank">Who would you have voted for? Discuss in the comments.</a>
</div>