<h2 class="journalist__hed">This is not the year I stop defending the Wall</h2>

<p>I've thought a lot about this. Too much.</p>

<p>I've talked to the commissioner of baseball and the president of the Hall of Fame. I've talked to several living members of the Hall of Fame. I've talked to longtime sportswriter friends. I've talked to writers from New York about what they plan to do about David Ortiz in five years. I even asked readers to tell me what they think about the the BBWAA serving as guardian of the Hall's integrity in the wake of the surge of eligible candidates who were proven to have cheated or otherwise suspected of enhancing their performance with PEDs.</p>

<p>Reader response was thoughtful, respectful, smart, and decidedly split on defending the Wall. Here at the Globe and in Red Sox Nation we are blessed to have a baseball-loving readership and it is a privilege to serve so many folks who care about the game so deeply. My thanks for all who submitted thoughts on defending the Wall. Your comments were thoroughly combed and appreciated.</p>

<p>So how come I'm only voting for two guys this year?</p>

<p>It's complicated. And it doesn't feel good. But it's the best I can do.</p>

<p>Tim Raines gets this vote and I think he'll be elected in his final year of eligibility (as was Jim Rice).  Raines' vote total has been climbing. A candidate needs to be checked on 75 percent of ballots and Raines was up to 69.8 percent last year. He has a lifetime on base percentage of .385. He stole 808 bases with a higher success rate than Ricky Henderson or Lou Brock. He reached base more than Roberto Clemente, Brock, Tony Gwynn, and Ichiro. He was a World Champion with the Yankees.</p>

<p>Vladimir Guerrero gets this vote in his first year of eligibility. He hit 449 homers. He swung at everything and still hit .318 for his career. He was an MVP once and close several other times. He had a cannon for an arm. The WAR folks don't like him that much and he wasn't good baserunner given his speed, but he always had the look of a Hall of Famer. Doubt he gets in on the first ballot.
That's it. Raines and Guerrero.</p>

<p>The ballot could have gone back with nine check marks if I had elected to come down from the Wall, but I'm staying up there at least one more year. Maybe forever. Who knows? It would be easy to drop my weapon and let 'em all in. And I mean ALL. Coming down off the Wall would have meant votes for all guys who have Hall of Fame numbers – Roger Clemens, Barry Bonds, Gary Sheffield, Manny Ramirez, Sammy Sosa, Jeff Bagwell, and Ivan Rodriguez.</p>

<p>It's unfair to lump them together, I know. Manny tested positive twice and Clemens and Bonds were all over the Mitchell report while Bagwell and Rodriguez are mere victims of whispers, body changes and unexplained power surges.</p>

<p>I was heartened and somewhat surprised to discover that there are still plenty of Hall of Famers, parents, teachers, and lifelong baseball fans who want the Hall to continue to be a really hard place to gain admission. A hunger to vote for more than 10 candidates will not be an issue for this voter until (if) I decide to come down from the Wall.</p>

<p>The good news for those of you who want us to come down from The Wall is that Bagwell is getting in this year. Just like Piazza, who was enshrined last summer. We won't have to discuss them anymore.
My toughest omissions of non-suspects would be Mike Mussina and his 270 wins (all in the AL East) and Trevor Hoffman and his whopping 601 saves. Edgar Martinez stays on the outside for me, and not because he was a DH. Just never thought of him as a dominant, feared hitter in his era.</p>

<p>As for Curt Schilling, I'm putting Schill in a corner for this year after he tweeted that the notion of lynching journalists was "so much awesome." This is not a political statement by me. To my way of thinking, lynching is not a political issue. There's no liberal/conservative take on murder. A place in the Hall of Fame is an honor and I'm choosing not to honor Curt's strong candidacy this year.</p>

<p>Lastly, can we dial down the vitriol and all just get along? I respect the opinions of all voters and fans. This is the baseball Hall of Fame. These are votes. Can we agree to disagree with one another's votes and opinions without giving in to the hate and toxicity that has polluted the process?</p>

<p>See you in Cooperstown.</p>
