<h2 class="journalist__hed benton-bold">Votes can, and should, change over time</h2>

<p>Voting for the Hall of Fame has been an evolving process for me.</p>

<p>I’ve gone from never voting for steroid users to voting for those I believe are Hall of Famers who can’t be denied. Through my sources over the years, I’ve come to believe that about 70 percent of players at least experimented with steroids, HGH, or other banned performance-enhancing drugs. I have decided that I will not penalize an entire era over this. It happened. It was part of baseball.</p>

<p>I came to the conclusion that the playing field was even, at least for the most part. Hitters and pitchers alike dabbled in PEDs.</p>

<p>I’m not saying I haven’t added and deleted a few caveats along the way. This year, for instance, I didn’t vote for Manny Ramirez, whose numbers are more than worthy of Hall status. Based on multiple offenses after the testing was in place, I have decided to withhold a vote for him this time. I will review that decision next season. I must admit, the fact that Manny didn’t test positive until very late in his career will weigh on my future decision.</p>

<p>I have voted for Barry Bonds and Roger Clemens since they were on the ballot. Nobody can convince me they weren’t the best hitter and pitcher of their generation. They got my vote again.</p>

<p>I voted for Curt Schilling. I don’t care about his political views or his distressing retweet of a “death to journalists” message. I know Curt well enough to know he really didn’t mean it. And again, I’m basing my vote on his superb record, his big-game mentality, and his superb postseason record.</p>

<p>Along with Schilling, I voted for Mike Mussina. His 270 wins are remarkable in a career in which he pitched exclusively for AL East teams. Add to that 20 wins for the first time in his career in his very last season.</p>

<p>I voted for two players who don’t seem to get much love.
Jeff Kent hit 377 home runs, 351 of them as a second baseman, the most ever at the position. Second basemen in general don’t get much love in the Hall. Kent had 2,461 hits and batted .290. The only second basemen who had more hits were Craig Biggio (3,060), Roberto Alomar (2,724), and Joe Morgan (2,517). Guess where they are? Hall of Fame.</p>

<p>I voted for Gary Sheffield. He hit 509 home runs (26th) and had 1,676 RBIs (28th). He had a career .907 OPS. He had 2,689 hits. His 162-game average was .292, 32 homers, and 105 RBIs over a 22-year career.
I’m tough on closers getting into the Hall, but Trevor Hoffman is on my ballot. He wasn’t a 100 m.p.h. guy. He did it with a changeup. He saved 601 games. He did it by knowing how to pitch. He stood the test of time and his numbers say he’s a Hall of Famer.</p>

<p>For the first time, I voted for Tim Raines. I was finally convinced he should get one of my 10 spots. I always had him a bit on the outside of my ballot, but as the ballot cleared out the last couple of years, Raines made the cut. He was not Rickey Henderson, but pretty close.</p>

<p>I voted for Ivan “Pudge” Rodriguez. Again, there’s a suspicion of steroids, but nobody can tell me he wasn’t the best all-around catcher of his generation. He may not be a first-ballot inductee, but that to me is an injustice.</p>

<p>Jeff Bagwell should get in this time. Those who haven’t voted for him feel he too is “suspicious” concerning PEDs, but Bagwell was an extraordinary hitter whose consistency was amazing throughout his career.</p>

<p>So there are my 10. I have left off Edgar Martinez, never feeling his numbers were quite good enough. I know he was a tremendous hitter, but his 2,247 hits, 309 homers, and 1,261 RBIs fall a little short for me, though his .933 OPS was magnificent.</p>

<p>Also on the border for me are Fred McGriff and Larry Walker.</p>

<p>There always seem to be 10-15 players you could vote for. There are 10 spots, and I traditionally have voted for all 10 since I began voting in 1993.</p>