<p>One of the best things about baseball is how much people care about the Hall of Fame. It’s a testament to how well even casual fans get to know the players and form opinions about who belongs in Cooperstown.
Consider for a moment how little we hear about the process of selecting hall of famers in basketball, football, and hockey. But with baseball, it’s a passionate topic every winter.</p>

<p>According to the rules, you can vote for up to 10 players. I had eight holdovers from my ballot last year and voted for seven of those players again: Jeff Bagwell, Barry Bonds, Roger Clemens, Edgar Martinez, Mike Mussina, Tim Raines, and Curt Schilling.</p>

<p>I also voted for first-timers Vladimir Guerrero and Ivan Rodriguez.</p>

<p>My belief is the Hall is a museum that should reflect the history of the game. There was a Steroid Era that had the tacit approval of Major League Baseball, the Players Association, the owners, the fans, and the media. My goal is to evaluate players in the context of that time. So Bagwell, Bonds, and Clemens continue to get my vote.</p>

<p>I did not vote for Manny Ramirez, however. The Steroid Era did end to a large degree when a comprehensive drug program was put in place in 2006. He subsequently tested positive twice and you have to draw a line somewhere.</p>

<p>This is my second year voting for Martinez, whose contributions stand out even during an era when runs came cheaply. Outside of David Ortiz, he’s the best DH in history and there’s value in that. I’ve also been swayed through discussions with Martinez’s peers, particularly Mariano Rivera.
Raines is the second-best leadoff hitter in history next to Rickey Henderson. Not voting for him is not doing your homework.</p>

<p>That is also true of Mussina. He never won a Cy Young Award, but Mussina is 24th in career WAR for pitchers, 19th in career strikeouts and 33rd in starts. As Johnny Damon once pointed out, Mussina pitched his entire career in the AL East and annually competed against juggernaut offenses.</p>

<p>Schilling should be an easy choice given his long-term excellence and postseason dominance. But his insatiable thirst for attention got in the way this year.</p>

<p>In November, Schilling took to Twitter and posted a photo of a Donald Trump supporter wearing a t-shirt that advocated the murder of journalists.</p>

<p>“OK, so much awesome here,” Schilling wrote.</p>

<p>That Schilling is politically conservative is incidental. He applauded the idea of killing journalists and that goes beyond politics and calls his character into question.
Schilling later claimed to be joking, a spurious assertion given the misanthropic tone he generally takes on social media.</p>

<p>But his views, loathsome as they are, shouldn’t disqualify Schilling. The Hall of Fame’s character clause is unrealistic to enforce and certainly should not be left up to sportswriters to determine.
In the end, players are what they do on the field. Schilling may want people in my profession dead, but he was a Hall of Fame pitcher. As a side benefit, voting for him and showing you’re a more reasoned and responsible person is better revenge than not voting for him out of spite.
I voted for Billy Wagner last year, deciding he was more worthy than Trevor Hoffman. I voted for neither this time.</p>

<p>Relievers are a quandary. I put almost no value in saves, a useless statistic. Relievers are essentially failed starters, pitchers who were demoted to the bullpen at some point in their careers.
The best relief pitchers are certainly valuable, but are they more valuable than No. 2 starter types?
Hoffman had a 28.0 WAR for his career and threw 1,089 1/3 innings. Bronson Arroyo had a 27.2 WAR and threw 2,364 2/3 innings. Hoffman will probably get in the Hall of Fame because he had 601 saves and Arroyo will probably never get a vote once he’s eligible.</p>

<p>Evaluating relievers is tricky and I’m open to suggestions how best to do that.
Rodriguez, one of the finest catchers of his time both offensively and defensively, was an easy call. Guerrero was not an automatic choice. But at his peak, he was perhaps the most dangerous hitter in baseball and a lot of fun to watch play.</p>

<p>Along with Hoffman and Wagner, Fred McGriff, Gary Sheffield and Larry Walker were tough omissions.
If this were 20 years ago, I’d throw a vote to Jason Varitek and/or Tim Wakefield in recognition of their fine careers and what they meant to Boston. But with crowded ballots and intense scrutiny, such gestures are no more.</p>

<p>All ballots will be public starting next year and it will be interesting to see how that affects voting. Three people passed on Ken Griffey Jr. last year and never admitted to it or explained why. Transparency will be benefit to a process so many fans care about.</p>
