<section class="introduction">
	<div class="introduction__container">
		<h2 class="introduction__title miller-banner-regular">How the Globe voted for Baseball’s Hall of Fame</h2>
		<h3 class="introduction__credit">Introduction and player profiles by Peter Abraham</h3>
		<p class="benton-regular">The annual Baseball Hall of Fame election is always fuel for impassioned discussion. It goes beyond statistics to such topics as the use of performance-enhancing drugs and character. Even the process of selecting players for Cooperstown has come under scrutiny. No other Hall of Fame generates more debate.</p>
		<p class="benton-regular">Five Globe staff members have earned a vote. The results will be announced on Jan. 18, but in the interest of full disclosure, we present the Globe ballots and each writer’s explanation.</p>
	</div>
</section>