<section class="journalist">
	<aside class="journalist__sidebar">
	</aside>
	{{> content/peter-abraham }}
</section>

<section class="journalist">
	<aside class="journalist__sidebar"></aside>
	{{> content/dan-shaughnessy }}
</section>

<section class="journalist">
<aside class="journalist__sidebar"></aside>
{{> content/bob-hohler }}
</section>

<section class="journalist">
<aside class="journalist__sidebar"></aside>
{{> content/bob-ryan }}
</section>

<section class="journalist">
<aside class="journalist__sidebar"></aside>
{{> content/nick-cafardo }}
</section>