<section class="journalist">
	<aside class="journalist__sidebar">
		<div class="journalist__picks">
			<h3 class="journalist__pick-hed">Peter Abraham's Picks</h3>
			<p>(in order of most overall votes)</p>
			<ul>
				<li>Tim Raines
				<li>Jeff Bagwell
				<li>Mike Mussina
				<li>Curt Schilling
				<li>Vladimir Guerrero
				<li>Edgar Martinez
				<li>Ivan Rodriguez
				<li>Barry Bonds
				<li>Roger Clemens
			</ul>
		</div>
		<p class="journalist__social">Does the era in which they played matter in a player’s Hall candidacy? <a href="https://twitter.com/intent/tweet?text=@PeteAbe" target="_blank"> @@include('twitter.svg') Tweet @PeteAbe</a></p>
	</aside>
	{{> content/peter-abraham }}
</section>

<section class="journalist">
	<aside class="journalist__sidebar">
		<div class="journalist__picks">
			<h3 class="journalist__pick-hed">Dan Shaughnessy's Picks</h3>
			<p>(in order of most overall votes)</p>
			<ul>
				<li>Tim Raines
				<li>Vladimir Guerrero
			</ul>
		</div>
		<p class="journalist__social">Should Dan have voted for more than two players? <a href="https://twitter.com/intent/tweet?text=@Dan_Shaughnessy" target="_blank"><br />@@include('twitter.svg') Tweet @Dan_Shaughnessy</a></p>
	</aside>
	{{> content/dan-shaughnessy }}
</section>

<section class="journalist">
	<aside class="journalist__sidebar">
		<div class="journalist__picks">
			<h3 class="journalist__pick-hed">Bob Hohler's Picks</h3>
			<p>(in order of most overall votes)</p>
			<ul>
				<li>Tim Raines
				<li>Jeff Bagwell
				<li>Mike Mussina
				<li>Curt Schilling
				<li>Edgar Martinez
				<li>Trevor Hoffman
			</ul>
		</div>
		<p class="journalist__social">Would you vote for a player suspected of using PEDs? <a href="https://twitter.com/intent/tweet?text=@Bob_Hohler" target="_blank"> @@include('twitter.svg') Tweet @Bob_Hohler</a></p>
	</aside>
	{{> content/bob-hohler }}
</section>

<section class="journalist">
	<aside class="journalist__sidebar">
		<div class="journalist__picks">
			<h3 class="journalist__pick-hed">Bob Ryan's Picks</h3>
			<p>(in order of most overall votes)</p>
			<ul>
				<li>Tim Raines
				<li>Jeff Bagwell
				<li>Mike Mussina
				<li>Curt Schilling
				<li>Vladimir Guerrero
				<li>Edgar Martinez
				<li>Ivan Rodriguez
			</ul>
		</div>
		<p class="journalist__social">What guidance should Hall of Fame voters get regarding players suspected of cheating? <a href="https://twitter.com/intent/tweet?text=@GlobeBobRyan" target="_blank"> @@include('twitter.svg') Tweet @GlobeBobRyan</a></p>
	</aside>
	{{> content/bob-ryan }}
</section>

<section class="journalist">
	<aside class="journalist__sidebar">
		<div class="journalist__picks">
			<h3 class="journalist__pick-hed">Nick Cafardo's Picks</h3>
			<p>(in order of most overall votes)</p>
			<ul>
				<li>Tim Raines
				<li>Jeff Bagwell
				<li>Mike Mussina
				<li>Curt Schilling
				<li>Ivan Rodriguez
				<li>Barry Bonds
				<li>Roger Clemens
				<li>Trevor Hoffman
				<li>Jeff Kent
				<li>Gary Sheffield
			</ul>
		</div>
		<p class="journalist__social">Does Manny Ramirez deserve to be in the Hall of Fame? <a href="https://twitter.com/intent/tweet?text=@NickCafardo" target="_blank"> @@include('twitter.svg') Tweet @NickCafardo</a></p>
	</aside>
	{{> content/nick-cafardo }}
</section>