<section class="journalist">
	<aside class="journalist__sidebar">
		<h2 class="journalist__hed">Peter Abraham's Picks</h3>
		<div class="journalist__picks">
			<p>(in order of most overall votes)</p>
			<ul>
				<li>Tim Raines
				<li>Jeff Bagwell
				<li>Mike Mussina
				<li>Curt Schilling
				<li>Vladimir Guerrero
				<li>Edgar Martinez
				<li>Ivan Rodriguez
				<li>Barry Bonds
				<li>Roger Clemens
			</ul>
		</div>
		<p class="journalist__social">Agree? Disagree? Start a conversation with Peter Abraham. <a href="https://twitter.com/intent/tweet?text=@PeteAbe" target="_blank"><span class="twitter"></span>   @@include('twitter.svg') Tweet @PeteAbe</a></p>
	</aside>
	{{> content/peter-abraham }}
</section>

<section class="journalist">
	<aside class="journalist__sidebar">
		<h2 class="journalist__hed">Dan Shaughnessy's Picks</h3>
		<div class="journalist__picks">
			<p>(in order of most overall votes)</p>
			<ul>
				<li>Tim Raines
				<li>Vladimir Guerrero
			</ul>
		</div>
		<p class="journalist__social">Agree? Disagree? Start a conversation with Dan Shaughnessy. <a href="https://twitter.com/intent/tweet?text=@Dan_Shaughnessy" target="_blank"><span class="twitter"></span> @@include('twitter.svg') Tweet @Dan_Shaughnessy</a></p>
	</aside>
	{{> content/dan-shaughnessy }}
</section>

<section class="journalist">
	<aside class="journalist__sidebar">
		<h2 class="journalist__hed">Bob Hohler's Picks</h3>
		<div class="journalist__picks">
			<p>(in order of most overall votes)</p>
			<ul>
				<li>Tim Raines
				<li>Jeff Bagwell
				<li>Mike Mussina
				<li>Curt Schilling
				<li>Edgar Martinez
				<li>Trevor Hoffman
			</ul>
		</div>
		<p class="journalist__social">Agree? Disagree? Start a conversation with Bob Hohler. <a href="https://twitter.com/intent/tweet?text=@Bob_Hohler" target="_blank"><span class="twitter"></span> @@include('twitter.svg') Tweet @Bob_Hohler</a></p>
	</aside>
	{{> content/bob-hohler }}
</section>

<section class="journalist">
	<aside class="journalist__sidebar">
		<h2 class="journalist__hed">Bob Ryan's Picks</h3>
		<div class="journalist__picks">
			<p>(in order of most overall votes)</p>
			<ul>
				<li>Tim Raines
				<li>Jeff Bagwell
				<li>Mike Mussina
				<li>Curt Schilling
				<li>Vladimir Guerrero
				<li>Edgar Martinez
				<li>Ivan Rodriguez
			</ul>
		</div>
		<p class="journalist__social">Agree? Disagree? Start a conversation with Bob Ryan. <a href="https://twitter.com/intent/tweet?text=@GlobeBobRyan" target="_blank"><span class="twitter"></span> @@include('twitter.svg') Tweet @GlobeBobRyan</a></p>
	</aside>
	{{> content/bob-ryan }}
</section>

<section class="journalist">
	<aside class="journalist__sidebar">
		<h2 class="journalist__hed">Nick Cafardo's Picks</h3>
		<div class="journalist__picks">
			<p>(in order of most overall votes)</p>
			<ul>
				<li>Tim Raines
				<li>Jeff Bagwell
				<li>Mike Mussina
				<li>Curt Schilling
				<li>Ivan Rodriguez
				<li>Barry Bonds
				<li>Roger Clemens
				<li>Trevor Hoffman
				<li>Jeff Kent
				<li>Gary Sheffield
			</ul>
		</div>
		<p class="journalist__social">Agree? Disagree? Start a conversation with Nick Cafardo. <a href="https://twitter.com/intent/tweet?text=@NickCafardo" target="_blank"><span class="twitter"></span> @@include('twitter.svg') Tweet @NickCafardo</a></p>
	</aside>
	{{> content/nick-cafardo }}
</section>