<section class="journalist">
	<aside class="journalist__sidebar">
		<div class="journalist__picks">
			<h3 class="journalist__pick-hed benton-bold">Peter Abraham's Picks</h3>
			<p>(in order of most overall votes)</p>
			<ul>
				<li>Tim Raines
				<li>Jeff Bagwell
				<li>Mike Mussina
				<li>Curt Schilling
				<li>Vladimir Guerrero
				<li>Edgar Martinez
				<li>Ivan Rodriguez
				<li>Barry Bonds
				<li>Roger Clemens
			</ul>
		</div>
		<p class="journalist__social">Does the era in which they played matter in a player’s Hall candidacy?<br />
		<a href="https://twitter.com/intent/tweet?text=@PeteAbe %23baseballHOF" class="journalist__social--link" target="_blank"> @@include('twitter.svg') Tweet @PeteAbe</a></p>
	</aside>
	<div class="journalist__container">
		{{> content/read-more }}
		<div class="journalist__accordion journalist__accordion--collapsed">
			{{> content/peter-abraham }}
		</div>
	</div>
</section>

<section class="journalist">
	<aside class="journalist__sidebar">
		<div class="journalist__picks">
			<h3 class="journalist__pick-hed benton-bold">Dan Shaughnessy's Picks</h3>
			<p>(in order of most overall votes)</p>
			<ul>
				<li>Tim Raines
				<li>Vladimir Guerrero
			</ul>
		</div>
		<p class="journalist__social">Should Dan have voted for more than two players?<br />
		<a href="https://twitter.com/intent/tweet?text=@Dan_Shaughnessy %23baseballHOF" class="journalist__social--link" target="_blank">@@include('twitter.svg') Tweet @Dan_Shaughnessy</a></p>
	</aside>
	<div class="journalist__container">
		{{> content/read-more }}
		<div class="journalist__accordion journalist__accordion--collapsed">
			{{> content/dan-shaughnessy }}
		</div>
	</div>
</section>

<section class="journalist">
	<aside class="journalist__sidebar">
		<div class="journalist__picks">
			<h3 class="journalist__pick-hed benton-bold">Bob Hohler's Picks</h3>
			<p>(in order of most overall votes)</p>
			<ul>
				<li>Tim Raines
				<li>Jeff Bagwell
				<li>Mike Mussina
				<li>Curt Schilling
				<li>Edgar Martinez
				<li>Trevor Hoffman
			</ul>
		</div>
		<p class="journalist__social">Would you vote for a player suspected of using PEDs?<br />
		<a href="https://twitter.com/intent/tweet?text=@Bob_Hohler %23baseballHOF" class="journalist__social--link" target="_blank"> @@include('twitter.svg') Tweet @Bob_Hohler</a></p>
	</aside>
	<div class="journalist__container">
		{{> content/read-more }}
		<div class="journalist__accordion journalist__accordion--collapsed">
			{{> content/bob-hohler }}
		</div>
	</div>
</section>

<section class="journalist">
	<aside class="journalist__sidebar">
		<div class="journalist__picks">
			<h3 class="journalist__pick-hed benton-bold">Bob Ryan's Picks</h3>
			<p>(in order of most overall votes)</p>
			<ul>
				<li>Tim Raines
				<li>Jeff Bagwell
				<li>Mike Mussina
				<li>Curt Schilling
				<li>Vladimir Guerrero
				<li>Edgar Martinez
				<li>Ivan Rodriguez
			</ul>
		</div>
		<p class="journalist__social">What guidance should Hall of Fame voters get regarding players suspected of cheating?<br />
		<a href="https://twitter.com/intent/tweet?text=@GlobeBobRyan %23baseballHOF" class="journalist__social--link" target="_blank"> @@include('twitter.svg') Tweet @GlobeBobRyan</a></p>
	</aside>
	<div class="journalist__container">
		{{> content/read-more }}
		<div class="journalist__accordion journalist__accordion--collapsed">
			{{> content/bob-ryan }}
		</div>
	</div>
</section>

<section class="journalist">
	<aside class="journalist__sidebar">
		<div class="journalist__picks">
			<h3 class="journalist__pick-hed benton-bold">Nick Cafardo's Picks</h3>
			<p>(in order of most overall votes)</p>
			<ul>
				<li>Tim Raines
				<li>Jeff Bagwell
				<li>Mike Mussina
				<li>Curt Schilling
				<li>Ivan Rodriguez
				<li>Barry Bonds
				<li>Roger Clemens
				<li>Trevor Hoffman
				<li>Jeff Kent
				<li>Gary Sheffield
			</ul>
		</div>
		<p class="journalist__social">Does Manny Ramirez deserve to be in the Hall of Fame?<br />
		<a href="https://twitter.com/intent/tweet?text=@NickCafardo %23baseballHOF" class="journalist__social--link" target="_blank"> @@include('twitter.svg') Tweet @NickCafardo</a></p>
	</aside>
	<div class="journalist__container">
		{{> content/read-more }}
		<div class="journalist__accordion journalist__accordion--collapsed">
			{{> content/nick-cafardo }}
		</div>
	</div>
</section>