<section class="journalist">
	<aside class="journalist__sidebar">
		<h3 class="journalist__hed">Peter Abraham's Picks</h3>
		<div class="journalist__picks">
			<p>(in order of most overall votes)</p>
			<ul>
				<li>Tim Raines
				<li>Jeff Bagwell
				<li>Mike Mussina
				<li>Curt Schilling
				<li>Vladimir Guerrero
				<li>Edgar Martinez
				<li>Ivan Rodriguez
				<li>Barry Bonds
				<li>Roger Clemens
			</ul>
		</div>
	</aside>
	{{> content/peter-abraham }}
</section>

<section class="journalist">
	<aside class="journalist__sidebar">
		<h3 class="journalist__hed">Dan Shaughnessy's Picks</h3>
		<div class="journalist__picks">
			<p>(in order of most overall votes)</p>
			<ul>
				<li>Tim Raines
				<li>Vladimir Guerrero
			</ul>
		</div>
	</aside>
	{{> content/dan-shaughnessy }}
</section>

<section class="journalist">
	<aside class="journalist__sidebar">
		<h3 class="journalist__hed">Bob Hohler's Picks</h3>
		<div class="journalist__picks">
			<p>(in order of most overall votes)</p>
			<ul>
				<li>Tim Raines
				<li>Jeff Bagwell
				<li>Mike Mussina
				<li>Curt Schilling
				<li>Edgar Martinez
				<li>Trevor Hoffman
				<li>
			</ul>
		</div>
	</aside>
	{{> content/bob-hohler }}
</section>

<section class="journalist">
	<aside class="journalist__sidebar">
		<h3 class="journalist__hed">Bob Ryan's Picks</h3>
		<div class="journalist__picks">
			<p>(in order of most overall votes)</p>
			<ul>
				<li>Tim Raines
				<li>Jeff Bagwell
				<li>Mike Mussina
				<li>Curt Schilling
				<li>Vladimir Guerrero
				<li>Edgar Martinez
				<li>Ivan Rodriguez
			</ul>
		</div>
	</aside>
	{{> content/bob-ryan }}
</section>

<section class="journalist">
	<aside class="journalist__sidebar">
		<h3 class="journalist__hed">Nick Cafardo's Picks</h3>
		<div class="journalist__picks">
			<p>(in order of most overall votes)</p>
			<ul>
				<li>Tim Raines
				<li>Jeff Bagwell
				<li>Mike Mussina
				<li>Curt Schilling
				<li>Ivan Rodriguez
				<li>Barry Bonds
				<li>Roger Clemens
				<li>Trevor Hoffman
				<li>Jeff Kent
				<li>Gary Sheffield
			</ul>
		</div>
	</aside>
	{{> content/nick-cafardo }}
</section>