<section class="all-players" id="all-players">
	<h2 class="player__hed benton-bold">All Nominated Players</h2>
	<div class="player__grid">
		<div class="player__profile">
			<div class="player__img--container">
				<img src='assets/img/bagwell_jeff.jpg' alt="Jeff Bagwell" />
			</div>
			<div class="player__bio--container">
				{{> graphic/player-title name="Jeff Bagwell" votes=4}}
				<p class="player__bio">The former Red Sox prospect reached 71.6 percent of the votes last year and is a good shot to get in. He had a career .949 OPS with the Astros along with 449 homers.</p>
			</div>
		</div>
		<div class="player__profile">
			<div class="player__img--container">
				<img src='assets/img/blake_casey.jpg' alt="Casey Blake" />
			</div>
			<div class="player__bio--container">
				{{> graphic/player-title name="Casey Blake"}}
				<p class="player__bio">He played for five teams over 13 seasons and was generally better than league average offensively. That he made the ballot is an accomplishment.</p>
			</div>
		</div>
		<div class="player__profile">
			<div class="player__img--container">
				<img src='assets/img/bonds_barry.jpg' alt="Barry Bonds" />
			</div>
			<div class="player__bio--container">
				{{> graphic/player-title name="Barry Bonds" votes=2}}
				<p class="player__bio">He’s one of the top five offensive players in history, but has yet to surpass 45 percent of the vote because of the widely held belief he used steroids.</p>
			</div>
		</div>
		<div class="player__profile">
			<div class="player__img--container">
				<img src='assets/img/burrell_pat.jpg' alt="Pat Burrell" />
			</div>
			<div class="player__bio--container">
				{{> graphic/player-title name="Pat Burrell"}}
				<p class="player__bio">“Pat the Bat” hit 30 or more home runs four times but never made the All-Star team. </p>
			</div>
		</div>
		<div class="player__profile">
			<div class="player__img--container">
				<img src='assets/img/cabrera_orlando.jpg' alt="Orlando Cabrera" />
			</div>
			<div class="player__bio--container">
				{{> graphic/player-title name="Orlando Cabrera"}}
				<p class="player__bio">The Red Sox traded for Cabrera on July 31, 2004 and he helped win the World Series, driving in 11 runs in 14 postseason games. He then left as a free agent.</p>
			</div>
		</div>
		<div class="player__profile">
			<div class="player__img--container">
				<img src='assets/img/cameron_mike.jpg' alt="Mike Cameron" />
			</div>
			<div class="player__bio--container">
				{{> graphic/player-title name="Mike Cameron"}}
				<p class="player__bio">Cameron had 278 home runs, 383 doubles, 59 triples, amd 297 stolen bases in his career. Only nine players in history have done that. Throw in three Gold Gloves and that’s a heck of a career.</p>
			</div>
		</div>
		<div class="player__profile">
			<div class="player__img--container">
				<img src='assets/img/clemens_roger.jpg' alt="Roger Clemens" />
			</div>
			<div class="player__bio--container">
				{{> graphic/player-title name="Roger Clemens" votes=2}}
				<p class="player__bio">He has seven Cy Young Awards, 354 wins, and 4,672 strikeouts. But he may never have a plaque in Cooperstown because of suspected steroid use. His numbers are inching up, however.</p>
			</div>
		</div>
		<div class="player__profile">
			<div class="player__img--container">
				<img src='assets/img/drew_jd.jpg' alt="J.D. Drew" />
			</div>
			<div class="player__bio--container">
				{{> graphic/player-title name="J.D. Drew"}}
				<p class="player__bio">If Drew did make the Hall of Fame, it’s 50-50 he’d actually leave Georgia for the induction ceremony. He had a .384 on-base percentage and was a lot better than he’s given credit for.</p>
			</div>
		</div>
		<div class="player__profile">
			<div class="player__img--container">
				<img src='assets/img/guerrero_vladimir.jpg' alt="Vladimir Guerrero" />
			</div>
			<div class="player__bio--container">
				{{> graphic/player-title name="Vladimir Guerrero" votes=3}}
				<p class="player__bio">Gary Carter and Andre Dawson are wearing Montreal Expos caps on their Hall of Fame plaques. Guerrero and Tim Raines could be the next. The nine-time All-Star hit 449 home runs.</p>
			</div>
		</div>
		<div class="player__profile">
			<div class="player__img--container">
				<img src='assets/img/guillen_carlos.jpg' alt="Carlos Guillen" />
			</div>
			<div class="player__bio--container">
				{{> graphic/player-title name="Carlos Guillen"}}
				<p class="player__bio">The Astros traded Guillen and lefty John Halama to get Randy Johnson for 11 starts in 1998. The Unit went 10-1 with a 1.28 ERA. Guillen went on to play 14 years in the majors, but that was still a nice trade for the Astros.</p>
			</div>
		</div>
		<div class="player__profile">
			<div class="player__img--container">
				<img src='assets/img/hoffman_trevor.jpg' alt="Trevor Hoffman" />
			</div>
			<div class="player__bio--container">
				{{> graphic/player-title name="Trevor Hoffman" votes=2}}
				<p class="player__bio">If saves are your thing, he had 601 of them. Only Mariano Rivera (653) had more. That Hoffman got 67.3 percent of the vote last year suggests he will get in eventually.</p>
			</div>
		</div>
		<div class="player__profile">
			<div class="player__img--container">
				<img src='assets/img/kent_jeff.jpg' alt="Jeff Kent" />
			</div>
			<div class="player__bio--container">
				{{> graphic/player-title name="Jeff Kent" votes=1}}
				<p class="player__bio">Offensively, few second basemen have been better. Kent had an impressive career peak, but loses points for below-average defense and only five All-Star appearances.</p>
			</div>
		</div>
		<div class="player__profile">
			<div class="player__img--container">
				<img src='assets/img/lee_derrek.jpg' alt="Derrek Lee" />
			</div>
			<div class="player__bio--container">
				{{> graphic/player-title name="Derrek Lee"}}
				<p class="player__bio">He has a World Series ring and 331 home runs, a fine career. His 2005 seasons for the Cubs (.335/.418/.662) was an all-timer.</p>
			</div>
		</div>
		<div class="player__profile">
			<div class="player__img--container">
				<img src='assets/img/martinez_edgar.jpg' alt="Edgar Martinez" />
			</div>
			<div class="player__bio--container">
				{{> graphic/player-title name="Edgar Martinez" votes=3}}
				<p class="player__bio">Next to David Ortiz, he’s the best designated hitter in history. Martinez got to 43.4 percent last year and should take another big step this time.</p>
			</div>
		</div>
		<div class="player__profile">
			<div class="player__img--container">
				<img src='assets/img/mcgriff_fred.jpg' alt="Fred McGriff" />
			</div>
			<div class="player__bio--container">
				{{> graphic/player-title name="Fred McGriff"}}
				<p class="player__bio">He has never gotten more than 23.9 percent of the vote despite 492 career homers. Crowded ballots and Steroid Era statistic inflation have victimized McGriff.</p>
			</div>
		</div>
		<div class="player__profile">
			<div class="player__img--container">
				<img src='assets/img/mora_melvin.jpg' alt="Melvin Mora" />
			</div>
			<div class="player__bio--container">
				{{> graphic/player-title name="Melvin Mora"}}
				<p class="player__bio">He hit .277 with a .781 OPS over 13 years, which is perfectly fine. But it’s a bit unclear how he made the Hall of Fame ballot.</p>
			</div>
		</div>
		<div class="player__profile">
			<div class="player__img--container">
				<img src='assets/img/mussina_mike.jpg' alt="Mike Mussina" />
			</div>
			<div class="player__bio--container">
				{{> graphic/player-title name="Mike Mussina" votes=4}}
				<p class="player__bio">He didn’t win 300 games or a Cy Young Award. But Mussina is 19th in career strikeouts and 24th among pitchers with an 82.7 WAR. His candidacy requires homework to appreciate, but it’s all there if you look.</p>
			</div>
		</div>
		<div class="player__profile">
			<div class="player__img--container">
				<img src='assets/img/ordonez_magglio.jpg' alt="Magglio Ordonez" />
			</div>
			<div class="player__bio--container">
				{{> graphic/player-title name="Magglio Ordonez"}}
				<p class="player__bio">A right fielder with 294 homers and 1,236 RBIs doesn’t have much of a shot at the Hall of Fame given those who have come before him.</p>
			</div>
		</div>
		<div class="player__profile">
			<div class="player__img--container">
				<img src='assets/img/posada_jorge.jpg' alt="Jorge Posada" />
			</div>
			<div class="player__bio--container">
				{{> graphic/player-title name="Jorge Posada"}}
				<p class="player__bio">He has four rings and impressive offensive statistics for a catcher. But he finished with “only” 1,664 hits and did not enjoy the career longevity of Hall of Fame catchers like Carlton Fisk, Johnny Bench, Yogi Berra, and Mike Piazza.</p>
			</div>
		</div>

		<div class="player__profile">
			<div class="player__img--container">
				<img src='assets/img/raines_tim.jpg' alt="Tim Raines" />
			</div>
			<div class="player__bio--container">
				{{> graphic/player-title name="Tim Raines" votes=5}}
				<p class="player__bio">This is his final year on the BBWAA ballot. Raines got to 69.8 percent last year. “Rock” was essentially the best leadoff hitter in history not named Rickey Henderson. His reward is due.</p>
			</div>
		</div>

		<div class="player__profile">
			<div class="player__img--container">
				<img src='assets/img/ramirez_manny.jpg' alt="Manny Ramirez" />
			</div>
			<div class="player__bio--container">
				{{> graphic/player-title name="Manny Ramirez"}}
				<p class="player__bio">A hitting savant who finished with a .996 OPS, Ramirez would be an easy choice if not for two positive drug tests after MLB instituted testing. Those mistakes may haunt him forever.</p>
			</div>
		</div>
		<div class="player__profile">
			<div class="player__img--container">
				<img src='assets/img/renteria_edgar.jpg' alt="Edgar Renteria" />
			</div>
			<div class="player__bio--container">
				{{> graphic/player-title name="Edgar Renteria"}}
				<p class="player__bio">Renteria came up with the Marlins, helped win the 1997 Series then was traded away. An itinerant career followed that included a year in Boston.</p>
			</div>
		</div>
		<div class="player__profile">
			<div class="player__img--container">
				<img src='assets/img/rhodes_arthur.jpg' alt="Arthur Rhodes" />
			</div>
			<div class="player__bio--container">
				{{> graphic/player-title name="Arthur Rhodes"}}
				<p class="player__bio">A starter with the Orioles early on, Rhodes became a trustworthy set-up man and fashioned a 20-year career.</p>
			</div>
		</div>
		<div class="player__profile">
			<div class="player__img--container">
				<img src='assets/img/rodriguez_ivan.jpg' alt="Ivan Rodriguez" />
			</div>
			<div class="player__bio--container">
				{{> graphic/player-title name="Ivan Rodriguez" votes=3}}
				<p class="player__bio">Of all the first-time candidates, “Pudge” has the best shot of election. Rodriguez was a superb defender and at his peak was a reliable and productive hitter. His final seven seasons were below average, however.</p>
			</div>
		</div>
		<div class="player__profile">
			<div class="player__img--container">
				<img src='assets/img/sanchez_freddy.jpg' alt="Freddy Sanchez" />
			</div>
			<div class="player__bio--container">
				{{> graphic/player-title name="Freddy Sanchez"}}
				<p class="player__bio">Originally a Red Sox player, Sanchez was traded in 2003 and made the All-Star team three times for the Pirates as a second baseman.</p>
			</div>
		</div>
		<div class="player__profile">
			<div class="player__img--container">
				<img src='assets/img/schilling_curt.jpg' alt="Curt Schilling" />
			</div>
			<div class="player__bio--container">
				{{> graphic/player-title name="Curt Schilling" votes=4}}
				<p class="player__bio">He has a Hall of Fame resume thanks in part to stellar work in the postseason. But after reaching 52.3 percent of the vote a year ago, Schilling could drop after a remark on social media that blithely cheered the idea of murdering journalists.</p>
			</div>
		</div>
		<div class="player__profile">
			<div class="player__img--container">
				<img src='assets/img/sheffield_gary.jpg' alt="Gary Sheffield" />
			</div>
			<div class="player__bio--container">
				{{> graphic/player-title name="Gary Sheffield" votes=1}}
				<p class="player__bio">It’s hard to ignore 509 career home runs and 1,676 RBIs. But Sheffield played in an era where huge offensive numbers were commonplace. He has yet to reach 12 percent in the Hall voting.</p>
			</div>
		</div>
		<div class="player__profile">
			<div class="player__img--container">
				<img src='assets/img/smith_lee.jpg' alt="Lee Smith" />
			</div>
			<div class="player__bio--container">
				{{> graphic/player-title name="Lee Smith"}}
				<p class="player__bio">This is the final year on the ballot for Smith and the reliever’s chances are slim, especially with Trevor Hoffman and Billy Wagner to compete against.</p>
			</div>
		</div>
		<div class="player__profile">
			<div class="player__img--container">
				<img src='assets/img/sosa_sammy.jpg' alt="Sammy Sosa" />
			</div>
			<div class="player__bio--container">
				{{> graphic/player-title name="Sammy Sosa"}}
				<p class="player__bio">Sosa hit 609 home runs but had a .311 on-base percentage thanks to 2,306 career strikeouts. He received only 31 votes last year and is fading away.</p>
			</div>
		</div>
		<div class="player__profile">
			<div class="player__img--container">
				<img src='assets/img/stairs_matt.jpg' alt="Matt Stairs" />
			</div>
			<div class="player__bio--container">
				{{> graphic/player-title name="Matt Stairs"}}
				<p class="player__bio">The pride of New Brunswick, Canada, played 19 years and wore the label “professional hitter” for most of them.</p>
			</div>
		</div>
		<div class="player__profile">
			<div class="player__img--container">
				<img src='assets/img/varitek_jason.jpg' alt="Jason Varitek" />
			</div>
			<div class="player__bio--container">
				{{> graphic/player-title name="Jason Varitek"}}
				<p class="player__bio">Varitek played in the Little League World Series, College World Series, the Olympics, the major league World Series, and the World Baseball Classic. He also caught four no-hitters and twice won the Series with the Red Sox. His legacy is just fine no matter how he fares in the Hall voting.</p>
			</div>
		</div>
		<div class="player__profile">
			<div class="player__img--container">
				<img src='assets/img/wagner_billy.jpg' alt="Billy Wagner" />
			</div>
			<div class="player__bio--container">
				{{> graphic/player-title name="Billy Wagner"}}
				<p class="player__bio">He has a lower earned run average and a higher strikeout rate than Trevor Hoffman. But Wagner had 109 fewer saves.</p>
			</div>
		</div>
		<div class="player__profile">
			<div class="player__img--container">
				<img src='assets/img/wakefield_tim.jpg' alt="Tim Wakefield" />
			</div>
			<div class="player__bio--container">
				{{> graphic/player-title name="Tim Wakefield"}}
				<p class="player__bio">He pitched 19 years in the majors with a knuckleball and came away with 200 wins and two World Series rings.</p>
			</div>
		</div>
		<div class="player__profile">
			<div class="player__img--container">
				<img src='assets/img/walker_larry.jpg' alt="Larry Walker" />
			</div>
			<div class="player__bio--container">
				{{> graphic/player-title name="Larry Walker"}}
				<p class="player__bio">His Colorado-inflated statistics have not garnered much support from the voters. Walker will be an interesting case for the Veterans Committee someday.</p>
			</div>
		</div>
	</div>
</section>