<section class="player__with-votes">
	<div class="player__grid">
		<div class="player__profile">
			{{> graphic/player-title name="Tim Raines" votes=5}}
			<p class="player__bio">This is his final year on the BBWAA ballot. Raines got to 69.8 percent last year. “Rock” was essentially the best leadoff hitter in history not named Rickey Henderson. His reward is due.</p>
		</div>
		<div class="player__profile">
			{{> graphic/player-title name="Jeff Bagwell" votes=4}}
			<p class="player__bio">The former Red Sox prospect reached 71.6 percent of the votes last year and is a good shot to get in. He had a career .949 OPS with the Astros along with 449 homers.</p>
		</div>
		<div class="player__profile">
			{{> graphic/player-title name="Mike Mussina" votes=4}}
			<p class="player__bio">He didn’t win 300 games or a Cy Young Award. But Mussina is 19th in career strikeouts and 24th among pitchers with an 82.7 WAR. His candidacy requires homework to appreciate, but it’s all there if you look.</p>
		</div>
		<div class="player__profile">
			{{> graphic/player-title name="Curt Schilling" votes=4}}
			<p class="player__bio">He has a Hall of Fame resume thanks in part to stellar work in the postseason. But after reaching 52.3 percent of the vote a year ago, Schilling could drop after a remark on social media that blithely cheered the idea of murdering journalists.</p>
		</div>
		<div class="player__profile">
			{{> graphic/player-title name="Vladimir Guerrero" votes=3}}
			<p class="player__bio">Gary Carter and Andre Dawson are wearing Montreal Expos caps on their Hall of Fame plaques. Guerrero and Tim Raines could be the next. The nine-time All-Star hit 449 home runs.</p>
		</div>
		<div class="player__profile">
			{{> graphic/player-title name="Edgar Martinez" votes=3}}
			<p class="player__bio">Next to David Ortiz, he’s the best designated hitter in history. Martinez got to 43.4 percent last year and should take another big step this time.</p>
		</div>
		<div class="player__profile">
			{{> graphic/player-title name="Ivan Rodriguez" votes=3}}
			<p class="player__bio">Of all the first-time candidates, “Pudge” has the best shot of election. Rodriguez was a superb defender and at his peak was a reliable and productive hitter. His final seven seasons were below average, however.</p>
		</div>
		<div class="player__profile">
			{{> graphic/player-title name="Barry Bonds" votes=2}}
			<p class="player__bio">He’s one of the top five offensive players in history, but has yet to surpass 45 percent of the vote because of the widely held belief he used steroids.</p>
		</div>
		<div class="player__profile">
			{{> graphic/player-title name="Roger Clemens" votes=2}}
			<p class="player__bio">He has seven Cy Young Awards, 354 wins, and 4,672 strikeouts. But he may never have a plaque in Cooperstown because of suspected steroid use. His numbers are inching up, however.</p>
		</div>
		<div class="player__profile">
			{{> graphic/player-title name="Trevor Hoffman" votes=2}}
			<p class="player__bio">If saves are your thing, he had 601 of them. Only Mariano Rivera (653) had more. That Hoffman got 67.3 percent of the vote last year suggests he will get in eventually.</p>
		</div>
		<div class="player__profile">
			{{> graphic/player-title name="Jeff Kent" votes=1}}
			<p class="player__bio">Offensively, few second basemen have been better. Kent had an impressive career peak, but loses points for below-average defense and only five All-Star appearances.</p>
		</div>
		<div class="player__profile">
			{{> graphic/player-title name="Gary Sheffield" votes=1}}
			<p class="player__bio">It’s hard to ignore 509 career home runs and 1,676 RBIs. But Sheffield played in an era where huge offensive numbers were commonplace. He has yet to reach 12 percent in the Hall voting.</p>
		</div>
	</div>
	<p class="player__jump"><a href="#players-all">View all nominated player bios</a></p>
</section>